<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clip_coin_collect_fx2_smoke_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,683},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_coin_collect_fx2_smoke_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,683},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_coin_collect_fx2_smoke_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,683},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_coin_collect_fx2_smoke_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,862},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_coin_collect_fx2_smoke_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_coin_collect_fx2_smoke_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,683},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_coin_collect_fx2_smoke_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,683},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_coin_collect_fx2_smoke_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,504},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_coin_collect_fx2_smoke_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,504},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_coin_collect_fx2_smoke_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_coin_collect_fx2_smoke_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,683},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_coin_collect_fx2_smoke_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,683},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_coin_collect_fx2_smoke_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,683},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_coin_collect_fx2_smoke_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,504},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_db_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1234},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>clip_db_water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,862},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>clip_db_water_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1234},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>clip_db_water_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1234},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>clip_db_water_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1234},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>clip_db_water_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,1234},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>clip_db_water_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1234},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>clip_db_water_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1234},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>clip_lv3_raiden_A1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,862},{118,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,356}}</string>
                <key>sourceSize</key>
                <string>{118,356}</string>
            </dict>
            <key>clip_lv3_raiden_A1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,862},{118,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,356}}</string>
                <key>sourceSize</key>
                <string>{118,356}</string>
            </dict>
            <key>clip_lv3_raiden_A1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,862},{118,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,356}}</string>
                <key>sourceSize</key>
                <string>{118,356}</string>
            </dict>
            <key>clip_lv3_raiden_A1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,862},{118,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,356}}</string>
                <key>sourceSize</key>
                <string>{118,356}</string>
            </dict>
            <key>clip_lv3_raiden_A1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,862},{118,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,356}}</string>
                <key>sourceSize</key>
                <string>{118,356}</string>
            </dict>
            <key>clip_lv3_raiden_A1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,862},{118,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,356}}</string>
                <key>sourceSize</key>
                <string>{118,356}</string>
            </dict>
            <key>clip_lv3_raiden_A1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,862},{118,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,356}}</string>
                <key>sourceSize</key>
                <string>{118,356}</string>
            </dict>
            <key>clip_lv3_raiden_A1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,862},{118,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,356}}</string>
                <key>sourceSize</key>
                <string>{118,356}</string>
            </dict>
            <key>clip_lv3_raiden_A2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,683},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_lv3_raiden_A2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_lv3_raiden_A2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,504},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_lv3_raiden_A2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,2},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_lv3_raiden_A2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_lv3_raiden_A2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,181},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_lv3_raiden_A2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,181},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_lv3_raiden_A2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,181},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_lv3_raiden_A3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,181},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_lv3_raiden_A3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,181},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_lv3_raiden_A3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_lv3_raiden_A3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_lv3_raiden_A3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_lv3_raiden_A3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_lv3_raiden_A3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,2},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_lv3_raiden_A3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>clip_rainbow_particle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>clip_rainbow_particle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,181},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>clip_rainbow_particle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>clip_rainbow_particle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,360},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>clip_rainbow_particle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,360},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>clip_rainbow_particle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,504},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>clip_rainbow_particle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,504},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>clip_rainbow_particle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,504},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>clip_rainbow_particle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,504},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>clip_rainbow_particle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>clip_rainbow_particle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,360},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>clip_rainbow_particle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,181},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>clip_rainbow_particle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,181},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>clip_rainbow_particle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,360},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>clip_rainbow_particle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,360},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>clip_rainbow_particle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,360},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>clip_rainbow_particle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,360},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>ic_setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,862},{78,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,357}}</string>
                <key>sourceSize</key>
                <string>{78,357}</string>
            </dict>
            <key>img_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,862},{80,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,368}}</string>
                <key>sourceSize</key>
                <string>{80,368}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SS_Symbol_Atlas_02.png</string>
            <key>size</key>
            <string>{1790,1486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba205546d9cf3ca5903454091fd1e6fd:a80f1259435f76f8121f01c40641d65b:ebe2180e5dbf3fb86ab082d849af4a98$</string>
            <key>textureFileName</key>
            <string>SS_Symbol_Atlas_02.png</string>
        </dict>
    </dict>
</plist>
