<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>btn_left_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_right_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ic_dot_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>ic_dot_enabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>img_bar_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1080},{472,840}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,840}}</string>
                <key>sourceSize</key>
                <string>{472,840}</string>
            </dict>
            <key>img_bg1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2},{472,840}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,840}}</string>
                <key>sourceSize</key>
                <string>{472,840}</string>
            </dict>
            <key>img_bg2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{954,1080},{472,840}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,840}}</string>
                <key>sourceSize</key>
                <string>{472,840}</string>
            </dict>
            <key>img_bg3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{472,840}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,840}}</string>
                <key>sourceSize</key>
                <string>{472,840}</string>
            </dict>
            <key>img_cannon_fx_Indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{205,1074}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,1074}}</string>
                <key>sourceSize</key>
                <string>{205,1074}</string>
            </dict>
            <key>img_glass_crack.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{472,840}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,840}}</string>
                <key>sourceSize</key>
                <string>{472,840}</string>
            </dict>
            <key>img_hall_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{472,840}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,840}}</string>
                <key>sourceSize</key>
                <string>{472,840}</string>
            </dict>
            <key>img_summon_fx_02_scale2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1080},{472,840}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,840}}</string>
                <key>sourceSize</key>
                <string>{472,840}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SS_Symbol_Atlas_06.png</string>
            <key>size</key>
            <string>{1904,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb99ae728733316ed50996c07dd9888f:db50cd8b92b74079b7b82333272dd98f:a684ff56f20b1e1ec13a29cae9e0bb56$</string>
            <key>textureFileName</key>
            <string>SS_Symbol_Atlas_06.png</string>
        </dict>
    </dict>
</plist>
