<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clip_summon_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,2},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,426},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,426},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,426},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,426},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,426},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,426},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,426},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,850},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,850},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,850},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,850},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,850},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,850},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,850},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1274},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1274},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1274},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1274},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>clip_summon_fx_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1274},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SS_Symbol_Atlas_05.png</string>
            <key>size</key>
            <string>{1920,1696}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a71b1249e4d5d810b743177f5ab60360:d654f977b8932724b95ec65e1bb0c26b:5e4bea761708a03a2e6f6facec4ec47c$</string>
            <key>textureFileName</key>
            <string>SS_Symbol_Atlas_05.png</string>
        </dict>
    </dict>
</plist>
