<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{50,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,95}}</string>
                <key>sourceSize</key>
                <string>{50,95}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{50,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,110}}</string>
                <key>sourceSize</key>
                <string>{50,110}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{55,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,100}}</string>
                <key>sourceSize</key>
                <string>{55,100}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{70,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,120}}</string>
                <key>sourceSize</key>
                <string>{70,120}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{80,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,110}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{75,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,110}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{130,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,120}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{200,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,110}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{200,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,110}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,2},{150,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,230}}</string>
                <key>sourceSize</key>
                <string>{150,230}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,2},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,2},{150,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,230}}</string>
                <key>sourceSize</key>
                <string>{150,230}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{200,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,260}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{150,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,180}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,236},{150,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{250,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,550}}</string>
                <key>sourceSize</key>
                <string>{250,550}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,236},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,236},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,236},{420,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,550}}</string>
                <key>sourceSize</key>
                <string>{420,550}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,790},{350,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,600}}</string>
                <key>sourceSize</key>
                <string>{350,600}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,236},{250,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,450}}</string>
                <key>sourceSize</key>
                <string>{250,450}</string>
            </dict>
            <key>ic_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,790},{430,692}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,692}}</string>
                <key>sourceSize</key>
                <string>{430,692}</string>
            </dict>
            <key>ic_page01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,790},{410,1006}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,1006}}</string>
                <key>sourceSize</key>
                <string>{410,1006}</string>
            </dict>
            <key>ic_popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,236},{381,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,508}}</string>
                <key>sourceSize</key>
                <string>{381,508}</string>
            </dict>
            <key>img_cannon_fx_beam.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,790},{188,690}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,690}}</string>
                <key>sourceSize</key>
                <string>{188,690}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SS_Symbol_Atlas_07.png</string>
            <key>size</key>
            <string>{1979,1798}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da2ab7982a60b4df12a9154cba1dce90:95058f15b9efc4269a28a97d59caa0ee:33a983a3754ff880904828bcb0104f79$</string>
            <key>textureFileName</key>
            <string>SS_Symbol_Atlas_07.png</string>
        </dict>
    </dict>
</plist>
