<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_aim_focus.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1123},{70,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>btn_aim_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1123},{70,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>btn_auto_focus.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1123},{70,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>btn_auto_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1125},{70,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>btn_expert.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1114},{153,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{153,94}}</string>
                <key>sourceSize</key>
                <string>{155,110}</string>
            </dict>
            <key>btn_expert_tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1114},{131,50}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{131,50}}</string>
                <key>sourceSize</key>
                <string>{155,58}</string>
            </dict>
            <key>btn_goddragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,949},{153,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{153,96}}</string>
                <key>sourceSize</key>
                <string>{155,110}</string>
            </dict>
            <key>btn_goddragon_tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,1145},{129,50}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{129,50}}</string>
                <key>sourceSize</key>
                <string>{155,58}</string>
            </dict>
            <key>btn_major_GotIt_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1114},{125,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,52}}</string>
                <key>sourceSize</key>
                <string>{125,52}</string>
            </dict>
            <key>btn_major_KeepPlaying_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1145},{125,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,52}}</string>
                <key>sourceSize</key>
                <string>{125,52}</string>
            </dict>
            <key>btn_major_OK_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,915},{125,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,52}}</string>
                <key>sourceSize</key>
                <string>{125,52}</string>
            </dict>
            <key>btn_newbie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,1047},{153,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{153,96}}</string>
                <key>sourceSize</key>
                <string>{155,110}</string>
            </dict>
            <key>btn_newbie_tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1145},{131,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{131,50}}</string>
                <key>sourceSize</key>
                <string>{155,58}</string>
            </dict>
            <key>btn_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1023},{124,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,49}}</string>
                <key>sourceSize</key>
                <string>{124,49}</string>
            </dict>
            <key>btn_popup_minor_BtL_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,969},{125,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,52}}</string>
                <key>sourceSize</key>
                <string>{125,52}</string>
            </dict>
            <key>btn_skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1168},{99,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,39}}</string>
                <key>sourceSize</key>
                <string>{99,39}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1074},{124,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,49}}</string>
                <key>sourceSize</key>
                <string>{124,49}</string>
            </dict>
            <key>ic_frame_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1123},{317,20}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{317,20}}</string>
                <key>sourceSize</key>
                <string>{325,40}</string>
            </dict>
            <key>ic_page05.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1014},{194,458}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,34},{194,458}}</string>
                <key>sourceSize</key>
                <string>{410,530}</string>
            </dict>
            <key>ic_title01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,350},{94,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,8},{94,26}}</string>
                <key>sourceSize</key>
                <string>{224,40}</string>
            </dict>
            <key>ic_title02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,446},{94,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,8},{94,26}}</string>
                <key>sourceSize</key>
                <string>{224,40}</string>
            </dict>
            <key>ic_title03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,542},{94,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,8},{94,26}}</string>
                <key>sourceSize</key>
                <string>{224,40}</string>
            </dict>
            <key>ic_title04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,638},{94,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,8},{94,26}}</string>
                <key>sourceSize</key>
                <string>{224,40}</string>
            </dict>
            <key>ic_title05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,734},{94,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,8},{94,26}}</string>
                <key>sourceSize</key>
                <string>{224,40}</string>
            </dict>
            <key>img_dragonBall_turtle_appears.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,475},{472,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,175}}</string>
                <key>sourceSize</key>
                <string>{472,175}</string>
            </dict>
            <key>img_fortuneGod_debut.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,540},{472,185}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{472,185}}</string>
                <key>sourceSize</key>
                <string>{472,199}</string>
            </dict>
            <key>img_guide_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,691},{430,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,546}}</string>
                <key>sourceSize</key>
                <string>{430,546}</string>
            </dict>
            <key>img_guide_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,566},{430,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,546}}</string>
                <key>sourceSize</key>
                <string>{430,546}</string>
            </dict>
            <key>img_loading_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,1},{472,316}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{472,316}}</string>
                <key>sourceSize</key>
                <string>{472,368}</string>
            </dict>
            <key>img_loading_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,1},{347,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{347,30}}</string>
                <key>sourceSize</key>
                <string>{393,30}</string>
            </dict>
            <key>img_popup_Exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1145},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>img_popup_Hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1125},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>img_shenlong_crashin.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,540},{472,268}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{472,268}}</string>
                <key>sourceSize</key>
                <string>{472,276}</string>
            </dict>
            <key>img_shenlong_jr_summon.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1},{472,537}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{472,537}}</string>
                <key>sourceSize</key>
                <string>{472,563}</string>
            </dict>
            <key>img_shenlong_summon.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1},{472,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,563}}</string>
                <key>sourceSize</key>
                <string>{472,563}</string>
            </dict>
            <key>img_timesup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,830},{64,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,1},{64,25}}</string>
                <key>sourceSize</key>
                <string>{128,27}</string>
            </dict>
            <key>img_toLevel_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1166},{125,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{125,36}}</string>
                <key>sourceSize</key>
                <string>{159,36}</string>
            </dict>
            <key>img_waiting.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,566},{108,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,51}}</string>
                <key>sourceSize</key>
                <string>{108,51}</string>
            </dict>
            <key>loading_shenlong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{472,688}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,688}}</string>
                <key>sourceSize</key>
                <string>{472,732}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,475},{438,124}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,41},{438,124}}</string>
                <key>sourceSize</key>
                <string>{472,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SS_Symbol_Atlas_09.png</string>
            <key>size</key>
            <string>{1772,1209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66ec2027844924d7cfa3bdf02445523f:65fbe3ca7f921d3b6e117a469043ab75:d4c5b525ffbbac1384d5b53bffcb0adc$</string>
            <key>textureFileName</key>
            <string>SS_Symbol_Atlas_09.png</string>
        </dict>
    </dict>
</plist>
